
@{
    ViewData["Title"] = "Trinkets Collection";
}
<h1>Sparkly Trinkets Collection</h1>
<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="~/css/responsive.css" rel="stylesheet">

</head>

<body>
    <div id="#wrapper">

        <section class="shop_grid_area section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="shop_sidebar_area">

                            <div class="widget size mb-50">
                                <h6 class="widget-title mb-30">Filter by Gender</h6>
                                <div class="widget-desc">
                                    <ul class="d-flex justify-content-between">
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Men</a></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="widget recommended">
                                <h6 class="widget-title mb-30">Recommended</h6>

                                <div class="widget-desc">
                                    <!-- Single Recommended Product -->
                                    <div class="single-recommended-product d-flex mb-30">
                                        <div class="single-recommended-thumb mr-3">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVFbMTxzDRzZbA6qPfdnfILHGcqh06pxh9LwXmwxSKexqsm0Ps2QK5k5EDEA8IlSjSlCk&usqp=CAU" alt="">
                                        </div>
                                        <div class="single-recommended-desc">
                                            <h6>Star Locket</h6>
                                            <p>₹128.00</p>
                                        </div>
                                    </div>
                                    <!-- Single Recommended Product -->
                                    <div class="single-recommended-product d-flex mb-30">
                                        <div class="single-recommended-thumb mr-3">
                                            <img src="https://images.squarespace-cdn.com/content/v1/5c64b1deb2cf798eee35cef4/1612744312375-OITNBZ2DDYV6RKT8UHRC/IMG_9973.JPG?format=2500w" alt="">
                                        </div>
                                        <div class="single-recommended-desc">
                                            <h6>Essential Necklace</h6>
                                            <p>₹458.00</p>
                                        </div>
                                    </div>
                                    <!-- Single Recommended Product -->
                                    <div class="single-recommended-product d-flex">
                                        <div class="single-recommended-thumb mr-3">
                                            <img src="https://rukminim2.flixcart.com/image/332/398/ksxjs7k0/earring/p/a/o/na-003-trinket-original-imag6dtyncwq2nzf.jpeg?q=50" alt="">
                                        </div>
                                        <div class="single-recommended-desc">
                                            <h6>Trinket Earrings</h6>
                                            <p>₹60.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="shop_grid_product_area">
                            <div class="row">

                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://rukminim2.flixcart.com/image/332/398/k2c6rgw0/necklace-chain/m/r/y/hashuli04-necklace-anika-trinkets-original-imafhpgjwwkhbgqx.jpeg?q=50" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹128.00</h4>
                                        <p>Ankle Trinkets </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>

                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.3s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://everstylish.com/pub/media/catalog/product/cache/0f8c9845bfabb36fc9eaa200154897c4/j/e/jew1101678-4.jpg" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹98.00</h4>
                                        <p>The Intricate Artwork Jhumkis</p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>

                                    </div>
                                </div>

                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://everstylish.com/pub/media/catalog/product/cache/07b5e720067dd7c278573e022675f331/j/e/jew1102993-1.jpg" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹49.00</h4>
                                        <p>Nature's Delight Toe Ring </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>


                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://everstylish.com/pub/media/catalog/product/cache/07b5e720067dd7c278573e022675f331/j/e/jew1103356-1.jpg" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹59.00</h4>
                                        <p>Leaf Me Alone-Casual Silver Danglers </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>


                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://everstylish.com/pub/media/catalog/product/cache/07b5e720067dd7c278573e022675f331/j/e/jew221240.jpg" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹186.00</h4>
                                        <p>Embellished Stud Earrings </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>


                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq1-nqFAK_wSuStHVdt0zSLM8dhjuV-n4uikMafHvUs2TC-WeWMiV6zwqZrWzRgzCOwgg&usqp=CAU" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹80.00</h4>
                                        <p>Pearl Daisy Flowers Earrings </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>


                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="https://cdn.shopify.com/s/files/1/0430/1514/3583/collections/vera_720x.jpg?v=1644123346" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹45.00</h4>
                                        <p>Modern Locket </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>


                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img width="300" height="300" src="https://www.tiny-trinket.com/wp-content/uploads/2021/06/IMG_6899-800x800.jpg" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹90.00</h4>
                                        <p>Tiny Trinket Bracelet </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>


                                <!-- Single gallery Item -->
                                <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img width="300" height="300" src="https://i.pinimg.com/474x/32/45/00/3245002fed3741a37a8f4de25de5c2e2--anklets.jpg" alt="">
                                        <div class="product-quicview">
                                            <a href="#" data-toggle="modal" data-target="#quickview"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <h4 class="product-price">₹250.00</h4>
                                        <p>Tasteful Gold Anklet </p>
                                        <!-- Add to Cart -->
                                        <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>


    </div>


</body>

</html>





