@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<br>
<br>


@{
    ViewData["Title"] = "Cart";
}

<head>

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
    </script>
</head>

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3" style="background-color: #87413f ">

        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
                <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2 text-white" style="background-color: #87413f " asp-area="" asp-controller="Home" asp-action="Index"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
            </div>
            <!-- Item-->
            <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                    <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html"><img src="" width="160" alt="Product"></a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2"><a href="shop-single-v1.html"></a></h3>
                        <div class="fs-sm"><span class="text-muted me-2">Size:</span></div>
                        <div class="fs-sm"><span class="text-muted me-2">Color:</span></div>
                        <div class="fs-lg text-accent pt-2">Rs154.<small>00</small></div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                    <label class="form-label" for="quantity1">Quantity</label>
                    <input class="form-control" type="number" id="quantity1" min="1" value="1">
                    <button class="btn btn-link px-0 text-danger" type="button"><i class="ci-close-circle me-2"></i><span class="fs-sm">Remove</span></button>
                </div>
            </div>
            <!-- Item-->
            <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                    <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html"><img src="" width="160" alt="Product"></a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2"><a href="shop-single-v1.html"></a></h3>
                        <div class="fs-sm"><span class="text-muted me-2">Brand:</span></div>
                        <div class="fs-sm"><span class="text-muted me-2">Color:</span></div>
                        <div class="fs-lg text-accent pt-2">Rs79.<small>50</small></div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                    <label class="form-label" for="quantity2">Quantity</label>
                    <input class="form-control" type="number" id="quantity2" min="1" value="1">
                    <button class="btn btn-link px-0 text-danger" type="button"><i class="ci-close-circle me-2"></i><span class="fs-sm">Remove</span></button>
                </div>
            </div>


            <button class="btn btn-outline-accent text-white d-block w-100 mt-4" style="background-color: #87413f " type="button" asp-area="" asp-controller="Home" asp-action="Index"><i class="ci-loading fs-base me-2"></i>Update cart</button>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4">
                <div class="py-2 px-xl-2">
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                        <h3 class="fw-normal">Rs265.<small>00</small></h3>
                    </div>

                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#shipping-estimates" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Shipping estimates</a></h3>
                        <div class="accordion-collapse collapse" id="shipping-estimates" data-bs-parent="#order-options">
                            <div class="accordion-body">
                                <form class="needs-validation" novalidate>
                                    <div class="mb-3">
                                        <select class="form-select" required>
                                            <option value="">Choose your country</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Finland">Finland</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="United States">United States</option>
                                        </select>
                                        <div class="invalid-feedback">Please choose your country!</div>
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" required>
                                            <option value="">Choose your city</option>
                                            <option value="Bern">Bern</option>
                                            <option value="Brussels">Brussels</option>
                                            <option value="Canberra">Canberra</option>
                                            <option value="Helsinki">Helsinki</option>
                                            <option value="Mexico City">Mexico City</option>
                                            <option value="Ottawa">Ottawa</option>
                                            <option value="Washington D.C.">Washington D.C.</option>
                                            <option value="Wellington">Wellington</option>
                                        </select>
                                        <div class="invalid-feedback">Please choose your city!</div>
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control" type="text" placeholder="ZIP / Postal code" required>
                                        <div class="invalid-feedback">Please provide a valid zip!</div>
                                    </div>
                                    <button class="btn btn-outline-primary d-block w-100" type="submit">Calculate shipping</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div><a class="btn btn-primary btn-shadow d-block w-100 mt-4" style="background-color: #87413f " asp-area="Account" asp-controller="Home" asp-action="Checkout"><i class="ci-card fs-lg me-2"></i>Proceed to Checkout</a>
            </div>
    </div>
    </aside>
</div>
</div>

