@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<br>
<br>
@{
    ViewData["Title"] = "Checkout";
}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3" style="background-color: #87413f ">
        
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            
           
            <!-- Shipping address-->
            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping address</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-fn">First Name</label>
                        <input class="form-control" type="text" id="checkout-fn">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-ln">Last Name</label>
                        <input class="form-control" type="text" id="checkout-ln">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-email">E-mail Address</label>
                        <input class="form-control" type="email" id="checkout-email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-phone">Phone Number</label>
                        <input class="form-control" type="text" id="checkout-phone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-company">Company</label>
                        <input class="form-control" type="text" id="checkout-company">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-country">Country</label>
                        <select class="form-select" id="checkout-country">
                            <option>Choose country</option>
                            <option>Australia</option>
                            <option>Canada</option>
                            <option>France</option>
                            <option>Germany</option>
                            <option>Switzerland</option>
                            <option>USA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-city">Country</label>
                        <select class="form-select" id="checkout-city">
                            <option>Choose city</option>
                            <option>Amsterdam</option>
                            <option>Berlin</option>
                            <option>Geneve</option>
                            <option>New York</option>
                            <option>Paris</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-zip">ZIP Code</label>
                        <input class="form-control" type="text" id="checkout-zip">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="checkout-address-1">Address 1</label>
                        <input class="form-control" type="text" id="checkout-address-1">
                    </div>
                </div>
                
            </div>
            <h6 class="mb-3 py-3 border-bottom">Billing address</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked id="same-address">
                <label class="form-check-label" for="same-address">Same as shipping address</label>
            </div>
            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100 text-white" style="background-color: #87413f " asp-area="Account" asp-controller="Home" asp-action="Cart"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100 text-white" style="background-color: #87413f " asp-area="Account" asp-controller="Home" asp-action="Payment"><span class="d-none d-sm-inline">Proceed to Payment</span><span class="d-inline d-sm-none">Next</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
                <div class="py-2 px-xl-2">
                    <div class="widget mb-3">
                        <h2 class="widget-title text-center">Order summary</h2>
                        <div class="d-flex align-items-center pb-2 border-bottom">
                            <a class="d-block flex-shrink-0" href="shop-single-v1.html"><img src="https://i.pinimg.com/originals/a8/2c/31/a82c31892bce419fa917c8582de4cb6a.jpg" width="64" alt="Product"></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a style="color: #87413f " href="">Diamond Bracelet</a></h6>
                                <div class="widget-product-meta"><span class="text-accent me-2">₹585.<small>00</small></span><span class="text-muted">x 1</span></div>
                            </div>
                        </div>



                    </div>
                    <div class="widget mb-3">
                       
                        <div class="d-flex align-items-center pb-2 border-bottom">
                            <a class="d-block flex-shrink-0" href="shop-single-v1.html"><img src="https://m.media-amazon.com/images/I/71fKAqh3M2L._UL1500_.jpg" width="64" alt="Product"></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a style="color: #87413f " href="">Gold and Diamond Rings</a></h6>
                                <div class="widget-product-meta"><span class="text-accent me-2">₹455.<small>00</small></span><span class="text-muted">x 1</span></div>
                            </div>
                        </div>



                    </div>
                    <ul class="list-unstyled fs-sm pb-2 border-bottom">
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">₹1040.<small>00</small></span></li>
                    </ul>
                    <h3 class="fw-normal text-center my-4">₹1040.<small>00</small></h3>

                </div>
            </div>
        </aside>
    </div>
    </div>
