@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Contact Us ";
   
}



<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Colo Shop Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" type="text/css" href="~/css/contact_styles.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/css/contact_responsive.css" />
</head>

<body style="font-family:apple-system,BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">
  


    <div class="container contact_container">

        <!-- Map Container -->

        <div class="row">
            <div class="col">
                <div id="google_map">
                    <div class="map_container">
                        <div id="map">
                            <script>
                                let map;

                                function initMap() {
                                    map = new google.maps.Map(document.getElementById("map"), {
                                        center: { lat: 28.459497, lng: 77.026634 },
                                        zoom: 7,
                                        gestureHandling: 'greedy',
                                        zoomControl: true
                                    });
                                }

                                window.initMap = initMap;
                            </script>
                            <script async
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuv308Fozf9PEpZhsBGT_3HMxWSuc34NE&callback=initMap">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->

        <div class="row">
            <div class="col-lg-6 contact_col">
                <div class="contact_contents">
                    <h1>Contact Us</h1>
                    <p>
                        There are many ways to contact us. You may drop us a line, give
                        us a call or send an email, choose what suits you the most.
                    </p>
                    <div>
                        <p>+91-987*******</p>
                        <p>classicratna.inc@gmail.com</p>
                    </div>

                    <div>
                        <p>Open hours: 8.00-18.00 Mon-Sat</p>
                        <p>Sunday: Closed</p>
                    </div>
                </div>

                <!-- Follow Us -->

                <div class="follow_us_contents">
                    <h1>Follow Us</h1>
                    <ul class="social d-flex flex-row">
                        <li>
                            <a href="#" style="background-color: #3a61c9">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="background-color: #41a1f6">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="background-color: #fb4343">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="background-color: #8f6247">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
            <div class="col-lg-6 get_in_touch_col">
                <div class="get_in_touch_contents">
                    <h1>Get In Touch With Us!</h1>
                    <p>Fill out the form below for any query.</p>
                    <form method="post" action="Contact">
                        <div>
                            <input id="input_email"
                                   class="form_input input_email input_ph"
                                   type="email"
                                   name="email"
                                   placeholder="Email"
                                   required="required"
                                   data-error="Valid email is required." />
                            <input id="input_name"
                                   class="form_input input_name input_ph"
                                   type="text"
                                   name="subject"
                                   placeholder="Subject"
                                   required="required"
                                   data-error="Subject is required." />

                            <textarea id="input_message"
                                      class="input_ph input_message"
                                      name="message"
                                      placeholder="Message"
                                      rows="3"
                                      required
                                      data-error="Please, write us a message."></textarea>
                        </div>
                        <div>
                            <button id="review_submit"
                                    type="submit"
                                    class="red_button message_submit_btn trans_300"
                                    value="Submit">
                                send message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->

    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                        <h4>Newsletter</h4>
                        <p>
                            Subscribe to our newsletter and get 20% off your first
                            purchase
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="post">
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                            <input id="newsletter_email"
                                   type="email"
                                   placeholder="Your email"
                                   required="required"
                                   data-error="Valid email is required." />
                            <button id="newsletter_submit"
                                    type="submit"
                                    style="background-color: #87413f"
                                    class="newsletter_submit_btn trans_300"
                                    value="Submit">
                                subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>







    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>

    <script src="~/js/contact_custom.js"></script>
</body>
</html>



