@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<br>
<br>

@{
    ViewData["Title"] = "My Wishlist";
}
<br />
<br />
<br />
<br />
<br />
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3" style="background-color: #87413f ">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2 text-white">
            List of items added to wishlist
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">My wishlist</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">


        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="fs-base text-light mb-0"></h6><a class="btn btn-primary btn-sm text-white" style="background-color: #87413f ">Sign out</a>
            </div>
            <!-- Wishlist-->
            <!-- Item-->
            <div class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
                <div class="d-block d-sm-flex align-items-start text-center text-sm-start">
                    <a class="d-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html" style="width: 10rem;"><img src="http://cdn.shopify.com/s/files/1/2373/1241/products/WhatsAppImage2021-08-05at5.53.19PM.jpg?v=1628249206" width="160" alt="Product"></a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2"><a style="color: #87413f " href="">Oxidised Plated Jewellery Set</a></h3>
                        <div class="fs-sm"><span class="text-muted me-2"></span></div>
                        <div class="fs-sm"><span class="text-muted me-2"></span></div>
                        <div class="fs-lg text-accent pt-2">₹775.<small>00</small></div>
                    </div>
                </div>
                <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                    <button class="btn btn-outline-danger btn-sm" type="button"><i class="ci-trash me-2"></i>Remove</button>
                </div>
            </div>


        </section>
    </div>
</div>
